<div
  class="flex flex-col px-8 py-8 gap-6 rounded-2xl"
  style="
    border-radius: 12px;
    background-image: radial-gradient(
      circle at left top,
      var(--p-primary-400),
      var(--p-primary-700)
    );
  "
>
  <div [formGroup]="moodForm">
    <div class="flex flex-col gap-8">
      <div class="flex flex-col gap-2">
        <textarea
          pTextarea
          id="description"
          formControlName="description"
          rows="4"
          class="w-full p-3 placeholder:text-gray-400"
          placeholder="Quel est votre mood du moment ?"
        ></textarea>
      </div>

      <div class="flex flex-col gap-2">
        <p-selectButton
          id="keywords"
          [options]="keywords"
          formControlName="keywords"
          optionLabel="name"
          [multiple]="true"
        ></p-selectButton>
      </div>

      <div class="flex flex-col gap-2">
        <p-slider
          id="color"
          formControlName="color"
          styleClass="color-slider"
        ></p-slider>
      </div>
    </div>

    <div class="flex items-center gap-4 mt-8">
      <p-button
        label="Annuler"
        (click)="onCancel()"
        [text]="true"
        styleClass="w-full !text-primary-50 !border !border-white/30 hover:!bg-white/10"
        class="w-full"
      />
      <p-button
        label="Publier"
        (click)="onSave()"
        styleClass="w-full"
        class="w-full"
      />
    </div>
  </div>
</div>
