<nav aria-label="Menu principal" class="flex items-center py-3 w-full">
  <ul class="flex flex-row gap-4 items-center justify-between w-full">
    <li class="flex-1 flex justify-start">
      <a routerLink="/meteo">
        <img
          [src]="darkMode ? '/assets/climactif-dark.png' : '/assets/climactif-light.png'"
          width="180"
          height="120"
          alt="Accueil"
        />
      </a>
    </li>
    <li class="flex flex-row gap-2 flex-1 justify-center">
      <div class="menu-item"><a routerLink="/meteo">Météo</a></div>
      <div class="menu-item"><a routerLink="/partage">Partage</a></div>
    </li>
    <li class="flex items-center justify-end gap-2 flex-1 px-2">
      <label id="theme">Thème</label>
      <p-toggleswitch
        [(ngModel)]="darkMode"
        (onChange)="toggleDarkMode()"
        class="flex justify-between items-center"
        ariaLabelledBy="theme"
      />
    </li>
  </ul>
</nav>
