<p-tabs value="0">
    <div class="flex justify-center">
        <p-tablist>
            <p-tab value="0">Par jour</p-tab>
            <p-tab value="1">Par humeur</p-tab>
            <p-tab value="2">Par région</p-tab>
        </p-tablist>
    </div>
    <p-tabpanels>
        <p-tabpanel value="0" class="flex justify-between">
            <app-card
                class="my-4 w-auto"
                header="☀️"
                title="Optimisme"
                text="23 personnes"/>
            <app-card
                class="my-4 w-auto"
                header="🌧️"
                title="Mélancolie"
                text="18 personnes"/>
            <app-card
                class="my-4 w-auto"
                header="🌱"
                title="Espoir"
                text="31 personnes"/>
        </p-tabpanel>
        <p-tabpanel value="1">
            <app-card class="my-4"/>
            <app-card class="my-4"/>
        </p-tabpanel>
        <p-tabpanel value="2">
            <app-card class="my-4"/>
            <app-card class="my-4"/>
        </p-tabpanel>
    </p-tabpanels>
</p-tabs>