@import 'tailwindcss';
@plugin "tailwindcss-primeui";
@import 'primeicons/primeicons.css';

@theme {
  --color-primary-light: #553533;
  --color-primary-light-hover: #402826;
  --color-primary-light-active: #80514d;
  --color-background-light: #fcf1f5;
  --color-primary-dark: #f2bd9e;
  --color-primary-dark-hover: #f6d1bc;
  --color-primary-dark-active: #eda378;
  --color-background-dark: #120c07;
}

.menu-item:hover {
  text-decoration: underline;
  text-decoration-color: var(--p-primary-color);
  color: var(--p-primary-color);
  cursor: pointer;
}

.menu-item {
  padding: 4px;
}

/* Accessibility skip link styles */
.skip-link {
  position: absolute;
  left: -999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: 1000;
}
.skip-link:focus,
.skip-link:active {
  left: 0;
  top: 0;
  width: auto;
  height: auto;
  background: #fff;
  color: #000;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
